.lead {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 984px;
  align-items: center;
  margin: 0 auto;
  padding: 56px 0 92px 0;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
    padding-left: calc((100% - 928px) / 2);
    padding-right: calc((100% - 928px) / 2);
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 768px;
  }
} 

@media screen and (max-width: 320px) {
  .lead {
    max-width: 320px;
  }
} 