.header {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: calc(100% - 48px * 2);
  padding: 28px 0 56px 0;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .header {
    max-width: calc(100% - 24px * 2);
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: calc(100% - 16px * 2);
  }
}