.intro {
  display: grid;
  grid-template-columns: 690px;
  align-items: start;
  max-width: 984px;
  padding-left: calc((100% - 984px) / 2);  
  padding-right: calc((100% - 984px) / 2);  
}

@media screen and (max-width: 768px) {
  .intro {
      grid-template-columns: 720px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
      grid-template-columns: 288px;
  }
}