.intro {
  display: grid;
  grid-template-columns: 690px;
  align-items: start;
  max-width: 984px;
  padding-left: calc((100% - 984px) / 2);  
  padding-right: calc((100% - 984px) / 2);  
  padding-bottom: 92px;
}

@media screen and (max-width: 1270px) {
  .intro {
      grid-template-columns: 928px;
      padding-left: calc((100% - 928px) / 2);  
      padding-right: calc((100% - 928px) / 2); 
      padding-bottom: 88px; 
  }
}

@media screen and (max-width: 1020px) {
  .intro {
      grid-template-columns: 720px;
      padding-left: calc((100% - 720px) / 2);  
      padding-right: calc((100% - 720px) / 2); 
  }
}

@media screen and (max-width: 767px) {
  .intro {
      grid-template-columns: 288px;
      padding-left: calc((100% - 288px) / 2);  
      padding-right: calc((100% - 288px) / 2);  
      padding-bottom: 64px; 
  }
}