.lead__subtitle {
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  max-width: 640px;
  margin: 0;
  padding-left: calc((100% - 640px) / 2);
  padding-right: calc((100% - 640px) / 2);
  padding-bottom: 64px;
}

@media screen and (max-width: 700px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    padding: 16px 16px 40px 16px;
  }
}
