.cover {
  display: flex;
  flex-direction: column;
  color: white;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
      url("images/cover-trains.jpg");
  max-width: 1184px;
  min-height: 740px;
  margin: 92px auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  justify-content: center;
  gap: 32px;
}

@media screen and (max-width: 1024px) {
  .cover {
      width: 100%;
      min-height: 640px;
  }
} 

@media screen and (max-width: 768px) {
  .cover {
      width: 100%;
      min-height: 480px;
      margin-top: 90px;
      margin-bottom: 88px; 
  }
}