.footer {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: calc(100% - 48px * 2);
  padding-bottom: 24px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .footer {
      max-width: 928px;
  }
} 

@media screen and (max-width: 768px) {
  .footer {
      max-width: 720px;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    flex-direction: column;
    max-width: 186px;
    gap: 48px;
    justify-content: start ;
    align-items: baseline;
    margin: 0;
    padding: 0 0 24px 16px;
  }
}